<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>SE-O</h1>

<h2>(Spring Equipment Organizer)</h2>

<p>My project will be a multi-User organization system for sound equipment.
    Users will be able to see what the company has in stock,
    mark the equipment as good or broken,
    and be able to add equipment and categories of equipment available.</p>

<h2>1.) Landing page</h2>

<p>(1-3 days) The page, after a certain amount of progression,
    will display available equipment.
    The first iteration will have placeholders
    about the project until more understanding of Spring is had.</p>

<h2>2.) Content List Page and Detail Pages</h2>

<p>(2-4 days) Data will be entered into the web app.
    The placeholders will now be the actual items the company will use.
    Each category of items will have its own detail page made of things from the database.</P>

<h2>3.) User Management</h2>

(2-4 Days) User Entity will be created to interact with listed objects. User should be able to signup, login, logout, and signup. Users will also be able to interact with objects by Feature 1.

<h2>4.) Feature 1 (Marking as broken)</h2>

<p>(1-4 days) Users will be able to change the "broken" state
    of the element of an object
    (Marking whether an object is good for use or not).</P>

<h2>## 5.) Feature 2 (Adding equipment)</h2>

<p>(1-4 days) Users will be able to add equipment in to the page.
    There should be at least a category of equipment
    and what the item actually is.</p>
</body>
</html>